/* --------------------------------------------------------------------------------- */
/* ------------------------------------- About ------------------------------------- */
/* --------------------------------------------------------------------------------- */

#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--secundary-color);
  justify-items: center;
  align-items: center;

  width: 100dvw;
  height: fit-content;
  padding: 10dvh 0 30dvh 0;
}

.curvedOverlay {
  position: relative;
  width: 100dvw;
  height: 10dvh;
  margin-top: -10dvh;
  z-index: 10;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 35.29%,
    2% 37.64%,
    4% 40.18%,
    6% 42.87%,
    8% 45.67%,
    10% 48.56%,
    12% 51.49%,
    14% 54.43%,
    16% 57.33%,
    18% 60.17%,
    20% 62.91%,
    22% 65.5%,
    24% 67.92%,
    26% 70.14%,
    28% 72.13%,
    30% 73.85%,
    32% 75.3%,
    34% 76.46%,
    36% 77.3%,
    38% 77.81%,
    40% 78%,
    42% 77.85%,
    44% 77.38%,
    46% 76.58%,
    48% 75.46%,
    50% 74.05%,
    52% 72.35%,
    54% 70.4%,
    56% 68.21%,
    58% 65.81%,
    60% 63.23%,
    62% 60.52%,
    64% 57.69%,
    66% 54.79%,
    68% 51.85%,
    70% 48.92%,
    72% 46.03%,
    74% 43.21%,
    76% 40.5%,
    78% 37.95%,
    80% 35.57%,
    82% 33.4%,
    84% 31.47%,
    86% 29.8%,
    88% 28.41%,
    90% 27.33%,
    92% 26.56%,
    94% 26.12%,
    96% 26%,
    98% 26.22%,
    100% 26.77%
  );
  background-color: var(--secundary-color);
  /* background-color: red; */
}

.aboutText {
  grid-area: 1 / 2 / 2 / 3;
  width: 60%;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.aboutImage {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 30dvw;
  height: 40dvh;
  /* margin: 10rem 0; */

  svg {
    position: absolute;
    height: 500px;
    z-index: 1;
  }
}

.cartoonTom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  img {
    position: absolute;
    height: 500px;
    z-index: 2;
  }

  img:nth-of-type(2) {
    position: absolute;
    z-index: 3;
    height: 160px;
    top: 3.6em;
    left: 2.9em;
    animation: RockArm 2s ease-in-out infinite alternate;
    transform-origin: center bottom;
    animation-delay: -1s;
  }
}

@keyframes RockArm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.aboutButtons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  a {
    color: var(--text-black);
    background-color: var(--primary-color);
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    z-index: 3;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease-out;
  }
  a:hover {
    background-color: var(--text-black);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  a:last-of-type {
    color: var(--text-white);
    border: 2px solid white;
    background-color: var(--secundary-color);
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    z-index: 3;
  }

  a:last-of-type:hover {
    background-color: var(--text-white);
    color: var(--secundary-color);
  }
}
